.navbar{
    height:80px;
    width:100%;
    background-color:var(--black);
    padding:10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom:1px solid var(--red);
}
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 70px;
    width:70px;
    margin: 0 10px;
}
.title{
    font-size: 24px;
    color:var(--white);
}
.middle-links a{
    color:var(--white);
    font-size: 18px;
    margin: 0 20px;
    text-decoration: none;
}
.middle-links span{
    position: relative;
}
.contacts{
    display: flex;
    align-items: center;
    
}
.contacts > span > a{
    color:var(--white);
    font-size: 18px;
    margin: 0 20px;
    text-decoration: none;
    position: relative;
}
.user-info{
    padding: 10px;
    height:50px;
    border:1px solid var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.user-info img{
    height: 30px;
    width: 30px;
}
.username{
    color: var(--white);
    font-size: 18px;
}
.contact-link{
    position: relative;
}
.contact-expand {
    position: absolute;
    left:-10px;
    width: 150px;
    margin-top: 10px;
    padding: 20px;
    /* height: 400px; */
    background: var(--white);
    border:1px solid var(--red);
    border-radius: 10px;
    box-shadow: var(--red-shadow) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contact-expand:before{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--red) transparent;
}
.contact-expand::after{
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -2px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
}
.grey-divider{
    display: block;
    width: 100%;
    height: 1px;
    background: #ccc;
}
.contact-expand a{
    color: #aaa;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

/* Navicon */
.menu{
    margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--black);
  clear: both;
  max-height: 240px;
  transition: all .8s ease-out;
}
.menu-btn:checked  .menu {
    max-height: 240px;
  }
.menu li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: var(--white);
}
.menu li a:hover{
    background-color: #444;
}
.ham-menu{
    display: none;
    margin:0 10px;
}
.menu-btn {
    display: none;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    height:20px;
    display: flex;
    align-items: center;
}

.menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    max-height: 240px;
}

.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.menu{
    display: none;
}
@media (max-width: 768px){
    .middle-links{
        display: none;
    }
    .contacts{
        display: none;
    }
    .ham-menu{
        display: block;
    }
    .menu{
        display: block;
    }
}