<div class="navbar">
    <div class="logo-title">
        <img class="logo" src="{{environment.imageUrl}}Logo.png">
        <h1 class="title">Fly Motors Club</h1>
    </div>
    <div class="middle-links">
        <span class="middle-link" (mouseenter)="onMouseEnter('Parent1')" (mouseleave)="onMouseLeave()" >
            <a href="">Listings</a>
            @if(hoveredMessage === 'Parent1'){
                <app-expand-nav [message]="'Choose from various listed cars from different brands'" [source]="environment.imageUrl +'listing.jpg'"></app-expand-nav>
            }
        </span>
        <span class="middle-link" (mouseenter)="onMouseEnter('Parent2')" (mouseleave)="onMouseLeave()" >
            <a href="">Sell your Car</a>
            @if(hoveredMessage === 'Parent2'){
                <app-expand-nav [message]="'Evaluate and sell your car at Best Price!'" [source]="environment.imageUrl +'sellcar.jpg'"></app-expand-nav>
            }
        </span>
        <span class="middle-link" (mouseenter)="onMouseEnter('Parent3')" (mouseleave)="onMouseLeave()" >
            <a href="">Our Experts</a>
            @if(hoveredMessage === 'Parent3'){
              <app-expand-nav [message]="'Avail guidance regarding cars with the help of our Car Experts!'" [source]="environment.imageUrl +'expert.jpg'"></app-expand-nav>
            }
        </span>
    </div>
    <div class="contacts">
        <span class="contact-link" (mouseenter)="onMouseEnter('Contact')" (mouseleave)="onMouseLeave()">
        <a href="">Contact Us</a>
        @if(hoveredMessage === 'Contact'){
           <div class="contact-expand">
            <a href="">Socials</a>
            <span class="grey-divider"></span>
            <a href="">Visit Us</a>
            <span class="grey-divider"></span>
            <a href="">Call Us</a>
           </div>
          }
        </span>
        <div class="user-info">
            <img src="{{environment.imageUrl}}defaultprofile.png" alt="">
            Hi
            <a class="username" href="">User</a>
        </div>
    </div>
    <div class="ham-menu">
        <input class="menu-btn" type="checkbox" id="menu-btn" (change)="toggleMenu()">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    </div>
</div>
@if(isMenuVisible){

    <ul id="menu" class="menu">
        <li><a href="#work">Our Work</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#careers">Careers</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
}
